{% extends "CCKClientBundle::layout.html.twig" %}

{% block stylesheets %}
	{{ parent() }}
	{% include 'CCKClientBundle:Common:style_yougo.html.twig' %}
{% endblock %}

{% block contents %}
<form class="form-horizontal" enctype='multipart/form-data' method='POST'  autocomplete="off" novalidate>
<div class="row">
	<div class="col-lg-12">
		<div class="panel-body">
			<div class="row">
				<div class="form-horizontal" id="form_mainterm">
					{% include 'CCKClientBundle:Common:header_yougo.html.twig' %}
					<hr class="divider">
					{% include 'CCKClientBundle:Common:mainterm.html.twig' %}
					<input type="hidden" class="form-control input-sm" id="update_mode" name="update_mode" value="new">
				</div>
			</div>
		</div>
	</div>
</div>
{% include 'CCKClientBundle:Common:subterm.html.twig' %}
<div class="row">
	<div class="col-lg-12">
		<div class="text-center">
			<button type="button" class="btn btn-primary js-yougo-submit">{{ 'btn.submit'|trans }}</button>
			<div class="btn btn-default" onclick="history.back();" name="back">{{ 'btn.back'|trans }}</div>
		</div>
	</div>
</div>
</form>

<div class="content">

<div class="row">
	<div class="col-lg-12">
	</div>
</div>

</div>

<!-- サブ画面 -->
{% include 'CCKClientBundle:Common:subform_yougo.html.twig' %}

{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{% include 'CCKClientBundle:Common:js_yougo.html.twig' %}
	<script>

		$(function(){
			$(window).load(function(){
				// 掲載順リスト初期化
				buttonStyle(document.getElementById('print_order'));

				// サブ用語・同対類用語・指矢印用語フォームのイベント設定
				assignSubFormEvent();
			});

			$('.js-han').bind('change', function(){
				// 版選択後に指矢印用語の見出し設定し直す
				changeHanHeader($('[name="version"]'),'.js-hen4',true);
			});
		});

	</script>
{% endblock %}
